<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.arielcast">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:background="@color/ic_banner_background"
        android:allowBackup="true"
        android:icon="@drawable/logoarielcast1"
        android:label="ArielCast"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.ArielCast"
        android:configChanges="orientation|screenSize|keyboardHidden"
        tools:ignore="AllowBackup,MissingClass">
        <activity
            android:name=".PhonebookActivity"
            android:label="Phonebook" />

        <activity
            android:name=".ContactUsActivity"
            android:label="ContactUs" />
        <activity
            android:name=".AboutUsActivity"
            android:label="About Us" />
        <activity android:name=".WatchLaterActivity" />
        <activity android:name=".StudentCoursesActivity" />
        <activity
            android:name=".MailActivity"
            android:label="ArielCast"
          />
        <activity
            android:name=".ShowLecture"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ShowCourse" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".MainActivity"
            android:label="ArielCast"
            android:theme="@style/Theme.ArielCast.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".AddLectureActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".StudentActivity"
            android:label="ArielCast"
            android:theme="@style/Theme.ArielCast.NoActionBar" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".AddCourseActivity" />
        <activity android:name=".StudentCoursesList" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>