<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.arielcast">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoarielcast1"
        android:label="ArielCast"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsLtr="true"
        android:theme="@style/Theme.ArielCast"
        tools:ignore="MissingClass">
        <activity
            android:name=".PhonebookActivity"
            android:label="@string/title_activity_phonebook"
            android:theme="@style/Theme.ArielCast.NoActionBar"></activity>
        <activity android:name=".WatchLaterActivity" />
        <activity android:name=".StudentCoursesActivity" />
        <activity
            android:name=".MailActivity"
            android:label="@string/title_activity_mail"
            android:theme="@style/Theme.ArielCast.NoActionBar" />
        <activity
            android:name=".ShowLecture"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ShowCourse" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_lecturer"
            android:theme="@style/Theme.ArielCast.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".AddLectureActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".StudentActivity"
            android:label="@string/title_activity_lecturer"
            android:theme="@style/Theme.ArielCast.NoActionBar" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".AddCourseActivity" />
        <activity android:name=".StudentCoursesList" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>